<h1>Change Your Profile </h1>
<%= form_for @user do |f| %>

<label>First Name:</label><br>
 <%= f.text_field :first_name %><br>

 <label>Last Name:</label><br>
  <%= f.text_field :last_name %><br>

<label>Email:</label><br>
 <%= f.email_field :email %><br>


<label>Edit Photo:</label><br>
 <%= f.file_field :avatar, direct_upload: true %></p>


   <p>
   <%= f.submit "Save Changes" %>
   </p>
   <%end%>
