<%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

<style>

  body {
    background: rgb(225, 228, 232);
    background-image:url('https://encrypted-tbn1.gstatic.com/images?q=tbn:ANd9GcQiaayl6XuInornOq4LDrWJXUiMzkOlC1nnDcocebbMpAR8wqFt1Q');
  }
  img{
    height: 200px;
    width: 200px;
  }
  /** Notebook Base **/
  .notebook {
    position: absolute;
    width: 900px;
    height:600px;
    top: 30%;
    left: 35%;
    margin: -175px 0 0 -250px;
    background-color: #444;
    background-image:
    -webkit-repeating-radial-gradient(
    center center,
    rgba(0,0,0,.5),
    rgba(0,0,0,.5) 2px,
    transparent 2px,
    transparent 100%
    );
    background-image:
    repeating-radial-gradient(
    center center,
    rgba(0,0,0,.5),
    rgba(0,0,0,.5) 2px,
    transparent 2px,
    transparent 100%
    );
    background-size: 4px 4px;
    border-radius: 15px;
    box-shadow:
    inset 2px 2px 2px rgba(255,255,255,.2),
    2px 2px 3px rgba(0,0,0,.2);
  }
  /** Left Page **/
  .left {
    position: absolute;
    left: 10px; right: 50%;
    top: 10px; bottom: 10px;
    background: rgb(247, 246, 212);
    border-radius: 10px 0 0 10px;
    box-shadow:
    inset -10px 0 30px -10px rgba(0,0,0,.3),
    -2px 2px 1px rgba(0,0,0,.8);
  }
  /** Right Page **/
  .right {
    position: absolute;
    left: 50%; right: 10px;
    top: 10px; bottom: 10px;
    background: rgb(247, 246, 212);
    border-radius: 0 10px 10px 0;
    box-shadow:
    inset 10px 0 30px -10px rgba(0,0,0,.3),
    2px 2px 1px rgba(0,0,0,.8);
  }
  /** Page inner **/
  .page-inner {
    position: absolute;
    top: 30px; bottom: 20px;
    left: 15px; right: 15px;
    outline: none;
    overflow: scroll;
    background: linear-gradient(
    to bottom,
    transparent,
    transparent 19px,
    rgba(0,0,0,.2),
    rgba(0,0,0,.2) 1px
    );
    background-size: 100% 20px;
    box-shadow:
    0 -1px 0 rgba(0,0,0,0.2),
    0 -5px 0 rgb(247, 246, 212),
    0 -6px 0 rgba(0,0,0,0.4);
    font: 14px/20px 'Courgette';
    color: #555;
    text-align: left;
  }
  ::-webkit-scrollbar {
    display: none;
  }



  #mySidenav a {
    position: absolute;
    left: -150px;
    transition: 0.3s;
    padding: 15px;
    width: 170px;
    text-decoration: none;
    font-size: 20px;
    text-align:center;
    color: black;
    border-radius: 0 5px 5px 0;
  }

  #mySidenav a:hover {
    left: 0;
  }

  #home {
    top: 20px;
    background-image: url(/assets/like.png);
    background-size: cover;

  }

  #profile {
    top: 80px;
    background-image: url(/assets/like.png);
    background-size: cover;
}

    #messages {
      top: 140px;
      background-image: url(/assets/like.png);
      background-size: cover;
    }

    #categories {
      top: 200px;
      background-image: url(/assets/like.png);
      background-size: cover;
    }

    #lbook {
      top: 260px;
      background-image: url(/assets/like.png);
      background-size: cover;
    }



    .sticky {
      box-sizing: border-box;
      height: 300px;
      width: 300px;
      background: linear-gradient(to bottom, #feeb8e 0%, #ffefa1 100%);
      padding: 25px;
      border-top-right-radius: 10px 100px;
      border-bottom-right-radius: 10px 100px;
      border-top-left-radius: 5px 50px;
      border-bottom-left-radius: 5px 50px;
      box-shadow: 6px 6px 10px 2px #999;
      margin-top: 20px;
      position: relative;
      transform: translate(25%, -1%)
    }
    .sticky:before {
      content: "";
      position: absolute;
      top: -15px;
      left: 50%;
      transform: translateX(-50%);
      width: 30px;
      height: 35px;
      background-image: url(https://dk7jqzmygmr3q.cloudfront.net/ml/neducatio/5b633eca-5c8f-4d4b-8ce0-cf9618e9aec6.image?v=1&type=png);
      background-size: cover;
    }
    .sticky:after {
      content: "";
      position: absolute;
      height: 300px;
      width: 15px;
      border-top-right-radius: 50%;
      border-bottom-right-radius: 50%;
      top: 0;
      left: 0;
    }
    .sticky img{
      height:50px;
      width:50px
    }

  </style>


  <%= render 'layouts/sidenav'%>

  <div class="notebook">
    <div class="left">
      <div class="page-inner" >

        <h1> Welcome <%= @user.first_name %> </h1>

        <%= image_tag(@user.avatar) if @user.avatar.attached?%>



        <h3>First Name: <%= @user.first_name %></h3> <br>
        <h3>Last Name: <%= @user.last_name %></h3> <br>
        <h3>Email: <%= @user.email %></h3><br>

        <% if @user == current_user %>

        <%= link_to 'Edit Profile', edit_user_path %>
        <%= link_to 'categories', categories_path %>
        <%= link_to 'My Messages', user_chats_path(session[:user_id]) %>
        <%= link_to 'create book', new_book_path %>
        <%= link_to 'Log Out', logout_path, method: :delete %>
        <%= link_to 'Home', root_path %>


    <%end%>


  </div>
</div>
    <div class="right">
      <div class="page-inner" >

        <% if @user == current_user %>

        <% @user_books.each do |b| %>
        <div id="book-<%=b.id%>">

        <div class="sticky">


          <div class="main-grid">
            Title: <%= b.title %><br>
            Author:  <%= b.author %><br>
            <div class="img">
            <%= image_tag(b.avatar) if b.avatar.attached?%>
          </div>
            Description:  <%=b.description.truncate(10)%> <br>
              <p><%= b.likes.count %> <%= (b.likes.count) == 1 ? 'Like' : 'Likes'%></p>
          <a href="/books/<%=b.id%>" > <img src="/assets/notebook.png"></a>
          <%= link_to 'Delete', user_path(b.id), method: :delete, :remote => true %>
          </div>
          </div>


        </div>
        <% end %>





        <% else %>

        <% books = Book.where(user_id: @user.id)%>

        <% books.each do |b| %>
        <div class="sticky">
          <div class="main-grid">
            <%= image_tag(b.avatar) if b.avatar.attached?%>
            Title:  <%= b.title %><br>
            Author:  <%= b.author %><br>
            Description:  <%=b.description.truncate(10)%> <br>
            <a href="/books/<%=b.id%>">VIew BOok</a>
          </div>
        </div>
        <% end %>
        <%end%>


      </div>
    </div>
  </div>
