<h1> Welcome <%= @user.first_name %> </h1>


<h3>First Name: <%= @user.first_name %></h3> <br>
<h3>Last Name: <%= @user.last_name %></h3> <br>
<h3>Email: <%= @user.email %></h3><br>


<%= link_to 'Edit Profile', edit_user_path %>


<%= link_to 'Log Out', logout_path, method: :delete %>
