
<%=link_to "Profile", user_path(session[:user_id]) %>

<% @books.each do |b| %>

  <p><%= b.title %></p>
  <p><%= b.author %></p>
  <%=b.description.truncate(10)%> <br>

  <p><%= image_tag(b.avatar) if b.avatar.attached?%></p>
  <p><a href="/books/<%=b.id%>">VIEW BOOK</a></p>

  <% end %>
