<style media="screen">
.img-ic img{
  height:60px;
  width:60px;
}
a img{
  height:35px;
  width:35px;
}
</style>
<div class="book-show">


<h1>Book:</h1>



<%= image_tag(@book.avatar) if @book.avatar.attached? %><br>
      <p><%= @book.author %></p>
      <p><%= @book.title %></p>
      <p><%= @book.description %></p>

            <% if session[:user_id] == @book.user_id %><br>
<a href="/books/<%=@book.id%>/edit" > <img src="/assets/edit.png"></a>

<% end %><br>
<p><%= @book.likes.count %> <%= (@book.likes.count) == 1 ? 'Like' : 'Likes'%></p>
<div class="img-ic">

<% pre_like = @book.likes.find { |like| like.user_id == current_user.id} %>
       <% if pre_like %>
         <%= link_to  book_like_path(@book, pre_like), method: :delete, class: 'like-ic' do %>

         <%= image_tag("/assets/dislike.png") %>
       <%end%>
     <% else %>
       <%= link_to  book_likes_path(@book), method: :book, class: 'dislike-ic' do %>
       <%= image_tag("/assets/like.png") %>
       <%end%>
       <% end %>

     </div>
</div>
