<h1>Book:</h1>



      <p><%= @book.author %></p>
      <p><%= @book.title %></p>
      <p><%= @book.description %></p>
    <%= image_tag(@book.avatar) if @book.avatar.attached? %>

            <% if session[:user_id] == @book.user_id %>
    <%= link_to 'Edit Book', edit_book_path%>
<% end %>
