<%book = Book.where(category_id: @categories.id)%>
  <%if !book.empty?%>
  <h1 class="center"><%=@categories.name%></h1>

  <%book.reverse.each do |book|%>
    <div>
      <a href="<%=book_path(book.id)%>">
      <%=book.avatar.attachment.nil? ? content_tag(:div, "", class: "book-default"): image_tag(book.avatar)%>
    </a>
    </div>
    <a href="/users/<%= book.user.id %>"><strong><%=book.user.first_name.capitalize %></strong></a> <br>
    <p ><%=book.author%></p>
      <p><%=book.title%></p>
      <p><%=book.description.truncate(100)%></p>
      <p>
      <%= link_to 'Read More', book_path(book.id)%>
      </p>
  <% end %>
</div>
  <% else %>


  <h2>There are no books currently 😞</h2>
  <%end%>
