<!DOCTYPE html>
<html>
  <head>
    <title>LibroSwap</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= action_cable_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <%= render 'layouts/sidenav'%>
  <body>

    <div class="notebook">
      <div class="left">
        <div class="page-inner" >

          <% flash.each do |key, value| %>
          <div class="alert alert-<%= key %>"><%= value %></div>
          <% end %>
          <%= yield %>

      </div>

    </div>
  </div>
  </body>
</html>
